In [1]:
import requests
import pandas as pd

access_token = "EAANTIDDj7vQBAIHCRSZCol18SZBBy8iBQreSCV3sZBfr8lNCIzxektCZBlVsby3wrnfx4YQYwuCY1bTPndF0YKsZCbetIr9CkhyOm3K8ucDgpaDZBGpymeZA8fx7ZAizI7pZCtigIJzBruVRzTt1MtsUf2K196KlQj7CzUJcopXP8q8K7dZCzLdlxZBANcOQoZBiXTf1wM7T2YHABgZDZD"
url = "https://graph.facebook.com/v16.0/17841456374080288/insights?pretty=0&since=1680019200&until=1681228800&metric=impressions,reach,profile_views,email_contacts,get_directions_clicks,phone_call_clicks,text_message_clicks,website_clicks&period=day&access_token={}".format(access_token)

request = requests.get(url)
data = request.json()

data

{'data': [{'name': 'impressions',
   'period': 'day',
   'values': [{'value': 239, 'end_time': '2023-03-29T07:00:00+0000'},
    {'value': 21, 'end_time': '2023-03-30T07:00:00+0000'},
    {'value': 2, 'end_time': '2023-03-31T07:00:00+0000'},
    {'value': 3, 'end_time': '2023-04-01T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-02T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-03T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-04T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-05T07:00:00+0000'},
    {'value': 2, 'end_time': '2023-04-06T07:00:00+0000'},
    {'value': 4, 'end_time': '2023-04-07T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-08T07:00:00+0000'},
    {'value': 3, 'end_time': '2023-04-09T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-10T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-11T07:00:00+0000'}],
   'title': 'Impressions',
   'description': "The total number of times that the business account's media objects have been viewed.",
   'id': '17841456374080288/insights/impressions/day'},
  {'name': 'reach',
   'period': 'day',
   'values': [{'value': 133, 'end_time': '2023-03-29T07:00:00+0000'},
    {'value': 10, 'end_time': '2023-03-30T07:00:00+0000'},
    {'value': 1, 'end_time': '2023-03-31T07:00:00+0000'},
    {'value': 1, 'end_time': '2023-04-01T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-02T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-03T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-04T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-05T07:00:00+0000'},
    {'value': 1, 'end_time': '2023-04-06T07:00:00+0000'},
    {'value': 2, 'end_time': '2023-04-07T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-08T07:00:00+0000'},
    {'value': 1, 'end_time': '2023-04-09T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-10T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-11T07:00:00+0000'}],
   'title': 'Reach',
   'description': "The total number of times that the business account's media objects have been uniquely viewed.",
   'id': '17841456374080288/insights/reach/day'},
  {'name': 'profile_views',
   'period': 'day',
   'values': [{'value': 149, 'end_time': '2023-03-29T07:00:00+0000'},
    {'value': 19, 'end_time': '2023-03-30T07:00:00+0000'},
    {'value': 4, 'end_time': '2023-03-31T07:00:00+0000'},
    {'value': 2, 'end_time': '2023-04-01T07:00:00+0000'},
    {'value': 1, 'end_time': '2023-04-02T07:00:00+0000'},
    {'value': 1, 'end_time': '2023-04-03T07:00:00+0000'},
    {'value': 2, 'end_time': '2023-04-04T07:00:00+0000'},
    {'value': 2, 'end_time': '2023-04-05T07:00:00+0000'},
    {'value': 4, 'end_time': '2023-04-06T07:00:00+0000'},
    {'value': 1, 'end_time': '2023-04-07T07:00:00+0000'},
    {'value': 3, 'end_time': '2023-04-08T07:00:00+0000'},
    {'value': 1, 'end_time': '2023-04-09T07:00:00+0000'},
    {'value': 2, 'end_time': '2023-04-10T07:00:00+0000'},
    {'value': 2, 'end_time': '2023-04-11T07:00:00+0000'}],
   'title': 'Profile views',
   'description': "The total number of users who have viewed the business account's profile within the specified period.",
   'id': '17841456374080288/insights/profile_views/day'},
  {'name': 'email_contacts',
   'period': 'day',
   'values': [{'value': 0, 'end_time': '2023-03-29T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-03-30T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-03-31T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-01T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-02T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-03T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-04T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-05T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-06T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-07T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-08T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-09T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-10T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-11T07:00:00+0000'}],
   'title': 'Email contacts',
   'description': 'The total number of taps on the email link in this profile',
   'id': '17841456374080288/insights/email_contacts/day'},
  {'name': 'get_directions_clicks',
   'period': 'day',
   'values': [{'value': 0, 'end_time': '2023-03-29T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-03-30T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-03-31T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-01T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-02T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-03T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-04T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-05T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-06T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-07T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-08T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-09T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-10T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-11T07:00:00+0000'}],
   'title': 'Get Directions clicks',
   'description': 'The total number of taps on the directions link in this profile',
   'id': '17841456374080288/insights/get_directions_clicks/day'},
  {'name': 'phone_call_clicks',
   'period': 'day',
   'values': [{'value': 0, 'end_time': '2023-03-29T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-03-30T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-03-31T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-01T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-02T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-03T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-04T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-05T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-06T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-07T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-08T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-09T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-10T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-11T07:00:00+0000'}],
   'title': 'Phone call clicks',
   'description': 'The total number of taps on the call link in this profile',
   'id': '17841456374080288/insights/phone_call_clicks/day'},
  {'name': 'text_message_clicks',
   'period': 'day',
   'values': [{'value': 0, 'end_time': '2023-03-29T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-03-30T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-03-31T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-01T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-02T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-03T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-04T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-05T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-06T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-07T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-08T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-09T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-10T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-11T07:00:00+0000'}],
   'title': 'Text message clicks',
   'description': 'The total number of taps on the text message link in this profile',
   'id': '17841456374080288/insights/text_message_clicks/day'},
  {'name': 'website_clicks',
   'period': 'day',
   'values': [{'value': 10, 'end_time': '2023-03-29T07:00:00+0000'},
    {'value': 1, 'end_time': '2023-03-30T07:00:00+0000'},
    {'value': 1, 'end_time': '2023-03-31T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-01T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-02T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-03T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-04T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-05T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-06T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-07T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-08T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-09T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-10T07:00:00+0000'},
    {'value': 0, 'end_time': '2023-04-11T07:00:00+0000'}],
   'title': 'Website clicks',
   'description': 'The total number of taps on the website link in this profile',
   'id': '17841456374080288/insights/website_clicks/day'}],
 'paging': {'previous': 'https://graph.facebook.com/v16.0/17841456374080288/insights?access_token=EAANTIDDj7vQBAIHCRSZCol18SZBBy8iBQreSCV3sZBfr8lNCIzxektCZBlVsby3wrnfx4YQYwuCY1bTPndF0YKsZCbetIr9CkhyOm3K8ucDgpaDZBGpymeZA8fx7ZAizI7pZCtigIJzBruVRzTt1MtsUf2K196KlQj7CzUJcopXP8q8K7dZCzLdlxZBANcOQoZBiXTf1wM7T2YHABgZDZD&pretty=0&since=1678809599&until=1680019199&metric=impressions%2Creach%2Cprofile_views%2Cemail_contacts%2Cget_directions_clicks%2Cphone_call_clicks%2Ctext_message_clicks%2Cwebsite_clicks&period=day',
  'next': 'https://graph.facebook.com/v16.0/17841456374080288/insights?access_token=EAANTIDDj7vQBAIHCRSZCol18SZBBy8iBQreSCV3sZBfr8lNCIzxektCZBlVsby3wrnfx4YQYwuCY1bTPndF0YKsZCbetIr9CkhyOm3K8ucDgpaDZBGpymeZA8fx7ZAizI7pZCtigIJzBruVRzTt1MtsUf2K196KlQj7CzUJcopXP8q8K7dZCzLdlxZBANcOQoZBiXTf1wM7T2YHABgZDZD&pretty=0&since=1681228801&until=1682438401&metric=impressions%2Creach%2Cprofile_views%2Cemail_contacts%2Cget_directions_clicks%2Cphone_call_clicks%2Ctext_message_clicks%2Cwebsite_clicks&period=day'}}

In [2]:
normalized_data = pd.json_normalize(data['data'])

In [3]:
pd.json_normalize(data['data'], 'values')

     value                  end_time
0      239  2023-03-29T07:00:00+0000
1       21  2023-03-30T07:00:00+0000
2        2  2023-03-31T07:00:00+0000
3        3  2023-04-01T07:00:00+0000
4        0  2023-04-02T07:00:00+0000
..     ...                       ...
107      0  2023-04-07T07:00:00+0000
108      0  2023-04-08T07:00:00+0000
109      0  2023-04-09T07:00:00+0000
110      0  2023-04-10T07:00:00+0000
111      0  2023-04-11T07:00:00+0000

[112 rows x 2 columns]

In [4]:
df_list = []

for index, row in normalized_data.iterrows():
  current_metric = row['name']
  df = pd.json_normalize(dict(row), 'values')
  df['name'] = current_metric
  df_list.append(df)

In [5]:
df_list[0] = df_list[0].rename(columns={"value": "impressions"})
df_list[0] = df_list[0].drop("name", axis=1)
df_list[0]

    impressions                  end_time
0           239  2023-03-29T07:00:00+0000
1            21  2023-03-30T07:00:00+0000
2             2  2023-03-31T07:00:00+0000
3             3  2023-04-01T07:00:00+0000
4             0  2023-04-02T07:00:00+0000
5             0  2023-04-03T07:00:00+0000
6             0  2023-04-04T07:00:00+0000
7             0  2023-04-05T07:00:00+0000
8             2  2023-04-06T07:00:00+0000
9             4  2023-04-07T07:00:00+0000
10            0  2023-04-08T07:00:00+0000
11            3  2023-04-09T07:00:00+0000
12            0  2023-04-10T07:00:00+0000
13            0  2023-04-11T07:00:00+0000

In [6]:
df_list[1] = df_list[1].rename(columns={"value": "reach"})
df_list[1] = df_list[1].drop("name", axis=1)
df_list[1]

    reach                  end_time
0     133  2023-03-29T07:00:00+0000
1      10  2023-03-30T07:00:00+0000
2       1  2023-03-31T07:00:00+0000
3       1  2023-04-01T07:00:00+0000
4       0  2023-04-02T07:00:00+0000
5       0  2023-04-03T07:00:00+0000
6       0  2023-04-04T07:00:00+0000
7       0  2023-04-05T07:00:00+0000
8       1  2023-04-06T07:00:00+0000
9       2  2023-04-07T07:00:00+0000
10      0  2023-04-08T07:00:00+0000
11      1  2023-04-09T07:00:00+0000
12      0  2023-04-10T07:00:00+0000
13      0  2023-04-11T07:00:00+0000

In [7]:
df_list[2] = df_list[2].rename(columns={"value": "profile_views"})
df_list[2] = df_list[2].drop("name", axis=1)
df_list[2]

    profile_views                  end_time
0             149  2023-03-29T07:00:00+0000
1              19  2023-03-30T07:00:00+0000
2               4  2023-03-31T07:00:00+0000
3               2  2023-04-01T07:00:00+0000
4               1  2023-04-02T07:00:00+0000
5               1  2023-04-03T07:00:00+0000
6               2  2023-04-04T07:00:00+0000
7               2  2023-04-05T07:00:00+0000
8               4  2023-04-06T07:00:00+0000
9               1  2023-04-07T07:00:00+0000
10              3  2023-04-08T07:00:00+0000
11              1  2023-04-09T07:00:00+0000
12              2  2023-04-10T07:00:00+0000
13              2  2023-04-11T07:00:00+0000

In [8]:
df_list[3] = df_list[3].rename(columns={"value": "email_contacts"})
df_list[3] = df_list[3].drop("name", axis=1)
df_list[3]

    email_contacts                  end_time
0                0  2023-03-29T07:00:00+0000
1                0  2023-03-30T07:00:00+0000
2                0  2023-03-31T07:00:00+0000
3                0  2023-04-01T07:00:00+0000
4                0  2023-04-02T07:00:00+0000
5                0  2023-04-03T07:00:00+0000
6                0  2023-04-04T07:00:00+0000
7                0  2023-04-05T07:00:00+0000
8                0  2023-04-06T07:00:00+0000
9                0  2023-04-07T07:00:00+0000
10               0  2023-04-08T07:00:00+0000
11               0  2023-04-09T07:00:00+0000
12               0  2023-04-10T07:00:00+0000
13               0  2023-04-11T07:00:00+0000

In [9]:
df_list[4] = df_list[4].rename(columns={"value": "get_directions_clicks"})
df_list[4] = df_list[4].drop("name", axis=1)
df_list[4]

    get_directions_clicks                  end_time
0                       0  2023-03-29T07:00:00+0000
1                       0  2023-03-30T07:00:00+0000
2                       0  2023-03-31T07:00:00+0000
3                       0  2023-04-01T07:00:00+0000
4                       0  2023-04-02T07:00:00+0000
5                       0  2023-04-03T07:00:00+0000
6                       0  2023-04-04T07:00:00+0000
7                       0  2023-04-05T07:00:00+0000
8                       0  2023-04-06T07:00:00+0000
9                       0  2023-04-07T07:00:00+0000
10                      0  2023-04-08T07:00:00+0000
11                      0  2023-04-09T07:00:00+0000
12                      0  2023-04-10T07:00:00+0000
13                      0  2023-04-11T07:00:00+0000

In [10]:
df_list[5] = df_list[5].rename(columns={"value": "phone_call_clicks"})
df_list[5] = df_list[5].drop("name", axis=1)
df_list[5]

    phone_call_clicks                  end_time
0                   0  2023-03-29T07:00:00+0000
1                   0  2023-03-30T07:00:00+0000
2                   0  2023-03-31T07:00:00+0000
3                   0  2023-04-01T07:00:00+0000
4                   0  2023-04-02T07:00:00+0000
5                   0  2023-04-03T07:00:00+0000
6                   0  2023-04-04T07:00:00+0000
7                   0  2023-04-05T07:00:00+0000
8                   0  2023-04-06T07:00:00+0000
9                   0  2023-04-07T07:00:00+0000
10                  0  2023-04-08T07:00:00+0000
11                  0  2023-04-09T07:00:00+0000
12                  0  2023-04-10T07:00:00+0000
13                  0  2023-04-11T07:00:00+0000

In [11]:
df_list[6] = df_list[6].rename(columns={"value": "text_message_clicks"})
df_list[6] = df_list[6].drop("name", axis=1)
df_list[6]

    text_message_clicks                  end_time
0                     0  2023-03-29T07:00:00+0000
1                     0  2023-03-30T07:00:00+0000
2                     0  2023-03-31T07:00:00+0000
3                     0  2023-04-01T07:00:00+0000
4                     0  2023-04-02T07:00:00+0000
5                     0  2023-04-03T07:00:00+0000
6                     0  2023-04-04T07:00:00+0000
7                     0  2023-04-05T07:00:00+0000
8                     0  2023-04-06T07:00:00+0000
9                     0  2023-04-07T07:00:00+0000
10                    0  2023-04-08T07:00:00+0000
11                    0  2023-04-09T07:00:00+0000
12                    0  2023-04-10T07:00:00+0000
13                    0  2023-04-11T07:00:00+0000

In [12]:
df_list[7] = df_list[7].rename(columns={"value": "website_clicks"})
df_list[7] = df_list[7].drop("name", axis=1)
df_list[7]

    website_clicks                  end_time
0               10  2023-03-29T07:00:00+0000
1                1  2023-03-30T07:00:00+0000
2                1  2023-03-31T07:00:00+0000
3                0  2023-04-01T07:00:00+0000
4                0  2023-04-02T07:00:00+0000
5                0  2023-04-03T07:00:00+0000
6                0  2023-04-04T07:00:00+0000
7                0  2023-04-05T07:00:00+0000
8                0  2023-04-06T07:00:00+0000
9                0  2023-04-07T07:00:00+0000
10               0  2023-04-08T07:00:00+0000
11               0  2023-04-09T07:00:00+0000
12               0  2023-04-10T07:00:00+0000
13               0  2023-04-11T07:00:00+0000

In [13]:
account_metrics = pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(df_list[0], df_list[1], on='end_time'), df_list[2], on='end_time'), df_list[3], on='end_time'), df_list[4], on='end_time'), df_list[5], on='end_time'), df_list[6], on='end_time'), df_list[7], on='end_time')

In [14]:
account_metrics

,impressions,end_time,reach,profile_views,email_contacts,get_directions_clicks,phone_call_clicks,text_message_clicks,website_clicks
0,239,2023-03-29T07:00:00+0000,133,149,0,0,0,0,10
1,21,2023-03-30T07:00:00+0000,10,19,0,0,0,0,1
2,2,2023-03-31T07:00:00+0000,1,4,0,0,0,0,1
3,3,2023-04-01T07:00:00+0000,1,2,0,0,0,0,0
4,0,2023-04-02T07:00:00+0000,0,1,0,0,0,0,0
5,0,2023-04-03T07:00:00+0000,0,1,0,0,0,0,0
6,0,2023-04-04T07:00:00+0000,0,2,0,0,0,0,0
7,0,2023-04-05T07:00:00+0000,0,2,0,0,0,0,0
8,2,2023-04-06T07:00:00+0000,1,4,0,0,0,0,0
9,4,2023-04-07T07:00:00+0000,2,1,0,0,0,0,0
10,0,2023-04-08T07:00:00+0000,0,3,0,0,0,0,0
11,3,2023-04-09T07:00:00+0000,1,1,0,0,0,0,0
12,0,2023-04-10T07:00:00+0000,0,2,0,0,0,0,0
13,0,2023-04-11T07:00:00+0000,0,2,0,0,0,0,0

In [15]:
url = "https://graph.facebook.com/v16.0/17841456374080288/media?access_token={}".format(access_token)

request = requests.get(url)
media_list = request.json()['data']
media_list = [d['id'] for d in media_list]

media_list

['17997487276675308',
 '17867784815886134',
 '17997618547630849',
 '17974467521014931']

In [39]:
list(media_info.keys())

['id',
 'timestamp',
 'media_product_type',
 'media_type',
 'permalink',
 'like_count',
 'comments_count',
 'caption',
 'impressions',
 'reach',
 'saved',
 'video_views',
 'follows',
 'profile_visits',
 'shares',
 'total_interactions',
 'bio_link_clicked',
 'call',
 'direction',
 'email',
 'other',
 'text']

In [16]:
def format_data_dict(raw_data):
  data_dict = {}
  
  for metric in raw_data:
    data_dict[metric['name']] = metric['values'][0]['value']

  return data_dict

def format_action_breakdown_dict(raw_data):
  breakdown_dict = {'bio_link_clicked': 0, 'call': 0, 'direction': 0, 'email': 0, 'other': 0, 'text': 0}

  for breakdown in raw_data:
    breakdown_dict[breakdown['dimension_values'][0]] = breakdown['value']

  return breakdown_dict

def format_navigation_breakdown_dict(raw_data):
  breakdown_dict = {'automatic_forward': 0, 'tap_back': 0, 'tap_exit': 0, 'tap_forward': 0, 'swipe_back': 0, 'swipe_down': 0, 'swipe_forward': 0, 'swipe_up': 0}

  for breakdown in raw_data:
    breakdown_dict[breakdown['dimension_values'][0]] = breakdown['value']

  return breakdown_dict

In [24]:
post_list = []
album_list = []
reels_list = []
story_list = []

for media in media_list:
  url = "https://graph.facebook.com/v16.0/{}?fields=id,timestamp,media_product_type,media_type,permalink,like_count,comments_count,caption&access_token={}".format(media, access_token)
  request = requests.get(url)
  media_info = request.json()

  if media_info['media_type'] == 'IMAGE' or media_info['media_type'] == 'VIDEO':
    url = "https://graph.facebook.com/v16.0/{}/insights?metric=follows,profile_visits,shares,total_interactions,impressions,reach,saved,video_views&access_token={}".format(media, access_token)
    request = requests.get(url)
    media_metrics = request.json()['data']
    data_dict = format_data_dict(media_metrics)

    url = "https://graph.facebook.com/v16.0/{}/insights?metric=profile_activity&breakdown=action_type&access_token={}".format(media, access_token)
    request = requests.get(url)
    post_profile_activity_breakdown = request.json()
    try:
      all_breakdowns = post_profile_activity_breakdown['data'][0]['total_value']['breakdowns'][0]['results']
      breakdown_dict = format_action_breakdown_dict(all_breakdowns)
    except KeyError:
      breakdown_dict = {'bio_link_clicked': 0, 'call': 0, 'direction': 0, 'email': 0, 'other': 0, 'text': 0}

    data_dict.update(breakdown_dict)
    media_info.update(data_dict)
    post_list.append(media_info)
    
  if media_info['media_type'] == 'CAROUSEL_ALBUM':
    url = "https://graph.facebook.com/v16.0/{}/insights?metric=carousel_album_engagement,carousel_album_impressions,carousel_album_reach,carousel_album_saved,carousel_album_video_views&access_token={}".format(media, access_token)
    request = requests.get(url)
    media_metrics = request.json()['data']
    data_dict = format_data_dict(media_metrics)
    media_info.update(data_dict)
    album_list.append(media_info)

  if media_info['media_product_type'] == 'STORY':
    url = "https://graph.facebook.com/v16.0/{}/insights?metric=comments,likes,plays,reach,saved,shares,total_interactions&access_token={}".format(media, access_token)
    request = requests.get(url)
    media_metrics = request.json()['data']
    data_dict = format_data_dict(media_metrics)

    url = "https://graph.facebook.com/v16.0/{}/insights?metric=profile_activity&breakdown=action_type&access_token={}".format(media, access_token)
    request = requests.get(url)
    story_profile_activity_breakdown = request.json()
    try:
      all_breakdowns = story_profile_activity_breakdown['data'][0]['total_value']['breakdowns'][0]['results']
      breakdown_dict = format_action_breakdown_dict(all_breakdowns)
    except KeyError:
      breakdown_dict = {'bio_link_clicked': 0, 'call': 0, 'direction': 0, 'email': 0, 'other': 0, 'text': 0}

    data_dict.update(breakdown_dict)

    url = "https://graph.facebook.com/v16.0/{}/insights?metric=navigation&breakdown=story_navigation_action_type&access_token={}".format(media, access_token)
    request = requests.get(url)
    story_navigation_breakdown = request.json()
    try:
      all_breakdowns = story_navigation_activity_breakdown['data'][0]['total_value']['breakdowns'][0]['results']
      breakdown_dict = format_action_breakdown_dict(all_breakdowns)
    except KeyError:
      breakdown_dict = {'automatic_forward': 0, 'tap_back': 0, 'tap_exit': 0, 'tap_forward': 0, 'swipe_back': 0, 'swipe_down': 0, 'swipe_forward': 0, 'swipe_up': 0}

    data_dict.update(breakdown_dict)
    media_info.update(data_dict)
    story_list.append(media_info)

  if media_info['media_product_type'] == 'REELS':
    url = "https://graph.facebook.com/v16.0/{}/insights?metric=exits,impressions,reach,replies,taps_forward,taps_back&access_token={}".format(media, access_token)
    request = requests.get(url)
    media_metrics = request.json()['data']

    data_dict = format_data_dict(media_metrics)
    media_info.update(data_dict)
    reels_list.append(media_info)

In [43]:
post_df = pd.DataFrame(post_list)
album_df = pd.DataFrame(album_list)
story_df = pd.DataFrame(story_list)
reels_df = pd.DataFrame(reels_list)

In [44]:
post_df

,id,timestamp,media_product_type,media_type,permalink,like_count,comments_count,caption,impressions,reach,...,follows,profile_visits,shares,total_interactions,bio_link_clicked,call,direction,email,other,text
0,17867784815886134,2023-03-29T07:41:35+0000,FEED,IMAGE,https://www.instagram.com/p/CqXWUaYvgDg/,14,0,(English version below ðŸ‘‡ðŸ¼)\n\n2022å¹´ï¼Œå‰µä½œè€…ç¶“æ¿Ÿå‰µä¸‹äº†æˆé•·...,350,324,...,0,4,0,14,0,0,0,0,0,0
1,17997618547630849,2023-03-29T07:33:54+0000,FEED,IMAGE,https://www.instagram.com/p/CqXVcNmvqNZ/,17,0,(English version below ðŸ‘‡ðŸ¼)\n\nå—¨ï¼æˆ‘å€‘æ˜¯ #CreatorLa...,234,213,...,4,46,5,23,2,0,0,0,0,0
2,17974467521014931,2023-03-29T07:32:41+0000,FEED,IMAGE,https://www.instagram.com/p/CqXVTQ2PEC5/,15,0,(English version below ðŸ‘‡ðŸ¼)\n\næƒ³æˆç‚ºä¸€åæˆåŠŸçš„å‰µä½œè€…ï¼Œé™¤äº†è¦åŠª...,183,168,...,1,35,3,18,1,0,0,0,0,0

In [33]:
album_df

,id,timestamp,media_product_type,media_type,permalink,like_count,comments_count,caption,carousel_album_engagement,carousel_album_impressions,carousel_album_reach,saved,video_views
0,17997487276675308,2023-04-12T09:49:43+0000,FEED,CAROUSEL_ALBUM,https://www.instagram.com/p/Cq7oHNSt-CV/,63,10,(English version below ðŸ‘‡ðŸ¼)\n\nã€å…¬å‘Šã€‘YouTube æœ€å¼·æ–°äºº...,77,638,584,4,0

Empty DataFrame
Columns: []
Index: []

In [34]:
# Write dataframe to csv
post_df.to_csv('ig_post_metrics.csv', encoding='utf-8')
album_df.to_csv('ig_album_metrics.csv', encoding='utf-8')
reels_df.to_csv('ig_reels_metrics.csv', encoding='utf-8')
story_df.to_csv('ig_story_metrics.csv', encoding='utf-8')

* TODO
  - Export into BigQuery

In [28]:
reels_list

[]